* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

#nav {
  /* background: red; */
  height: 4rem;
  width: 100%;
  display: flex;
  /* align-items: center; */
  /* justify-content: end; */
  /* gap: 3rem; */
  border-bottom: 1px solid rgb(139, 134, 134);
}
#part-one {
  height: 4rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: green; */
}
#part-one img {
  width: 15rem;
}
#part-two {
  /* background: red; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.8rem;
  gap: 4rem;
}
#nav h1:last-child {
  margin-right: 5rem;
}
